<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="bfa2d8f8-448f-4e5b-a099-3a132529ed89" Version="1.0.0.0" Publisher="CN=Rohail" />
  <mp:PhoneIdentity PhoneProductId="bfa2d8f8-448f-4e5b-a099-3a132529ed89" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>CareerCounseling</DisplayName>
    <PublisherDisplayName>Lumos Sytem and Solutions</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m3:VisualElements DisplayName="Career Counseling" Square150x150Logo="images\Career150.png" Square44x44Logo="images\Career44.png" Description="Having Problem in choosing your Career ? Our App will help you decide which Career is most suitable for you. Now you can Choose a Career that suites you best." ForegroundText="light" BackgroundColor="white">
        <m3:DefaultTile Wide310x150Logo="images\CareerCounsellingwide.png" Square71x71Logo="images\Career71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\splashscreen.png" BackgroundColor="white" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>